* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202023;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

.header-nav {
    margin-bottom: 71px;
    padding-top: 56px;
}

.header-ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.header-ul li a {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 200;
    font-size: 24px;
}

.section-1 {
    padding-left: 99px;
    padding-bottom: 22px;
    background-image: url(img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 300px 0px 100px 0px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.div-s1 {
    display: block;
    margin: 0 auto;
    width: 1420px;
}

.section-1 h1 {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 200;
    font-size: 70px;
    margin-bottom: 22px;
}

.section-1 p {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 21px;
}

.button-s1 {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 24px;
    padding: 14px 34px 7px 34px;
    background-color: #B47B48;
    border: none;
    border-radius: 17px;
}

.button-s1:hover {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 24px;
    padding: 14px 34px 7px 34px;
    background-color: #a06028;
    border: none;
    border-radius: 17px;
    transition: background-color ease-in;
    transition-duration: 0.1s;
}

.card-s1-ul {
    display: flex;
    gap: 104px;
    justify-content: center;
}

.card-s1-ul li {
    background-color: #272727;
    display: flex;
    align-items: center;
    margin-top: 125px;
    box-shadow: inset 100px 0px 100px 0px rgba(0, 0, 0, 0.5);
    left: 10px;
    transition: background-color ease-in;
    transition-duration: 0.6s;
    margin-bottom: 36px;
}

.card-img-1 {
    width: 150px;
    height: 225px;
    margin-left: 4px;
}

.card-img-2 {
    width: 213px;
    height: 225px;
}

.card-img-3 {
    width: 193px;
    height: 193px;
    margin-left: 6px;
}

.card-s1-3 {
    margin-right: 115px;
}

.card-s1-ul p {
    font-family: "Inter", sans-serif;
    text-align: center;
}

.p-price {
    font-size: 24px;
    font-weight: 200;
}

.p-name {
    font-size: 16px;
    font-weight: 500;
}

.card-s1-ul button {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #C85312;
    border: none;
    margin-left: auto;
    padding: 8px 22px 5px 22px;
    margin: 0 35px 32px 44px;
}

.card-box {
    margin-right: 12px;
}

.exclamation-mark {
    margin-top: 120px;
    margin-right: -20px;
    bottom: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #fff;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 5px 10px;
    line-height: 0.8;
}

.card-s1-ul li:hover {
    background-color: #EBAD51;
    display: flex;
    align-items: center;
    margin-top: 125px;
    box-shadow: inset 100px 0px 100px 0px rgba(0, 0, 0, 0.5);
    left: 10px;
}

.section-2 {
    margin-bottom: 163px;
}

.s2-h2 {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 100;
    line-height: 77.45px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 18px;
}

.card-s2-ul li h2 {
    color: #FFFFFF;
    font-size: 25.92px;
    font-weight: 800;
    line-height: 31.37px;
    text-align: center;
    margin-top: 15px;
}

.card-s2-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 188px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 873px;
    justify-content: center;
    list-style: none;
}

.card-s2-ul li {
    border: 1px solid #FFFFFF;
    width: 328px;
    height: 229px;
}

.card-s2-ul li button {
    background-color: #B47B48;
    border: none;
    border-radius: 17px;
    padding: 3px 43px 7px 43px;
    font-size: 25.92px;
    font-weight: 900;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.card-s2-1 {
    margin-bottom: 57px;
}

.card-img-s2-1 {
    margin-top: 10px;
    margin-bottom: -25px;
}

.card-s2-2 img {
    margin-left: -10px;
    margin-top: -50px;
    margin-bottom: -20px;
}

.card-img-s2-3 {
    width: 261.57px;
    height: 260px;
    margin-bottom: -55px;
    margin-top: -45px;
    margin-left: 30px;
    background-image: url(img/capcakes.png);
    padding: 0;
}

.cake {
    margin-bottom: -190px;
    margin-right: 100px;
}

.card-img-s2-4 {
    margin-top: -25px;
    margin-bottom: -35px;
}

.section-3 {
    background-image: url(img/background2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}

.s3-h2 {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 75.39px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: -50px;
    margin-left: 66.11px;
}

.card-s3-ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.card-s3-ol {
    background-color: #575757;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
    padding: 13px 26px;
    padding-bottom: 54px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.card-s3-ol-1 {
    margin-right: 32.9px;
}

.card-s3-ol-2 {
    margin-right: 89.9px;
}

.card-s3-ol-3 {
    margin-bottom: 47.54px;
}

.card-s3-2 {
    margin-top: 120px;
}

.card-s3-3 {
    margin-top: 194px;
}

.ol-s3-li {
    margin-left: 13px;
}

.bread-shadow {
    width: 302px;
    height: 204px;
    margin-top: -204px;
    border-radius: 112.5px;
    background-image: linear-gradient(to left 81.4deg, #000000 -110.34%, #202023 -110.33%, rgba(0, 0, 0, 0) 80.32%, );
}

.section-4 {
    background-image: url(img/background3.jpg);
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.s4-h2 {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 56.54px;
    color: rgba(217, 217, 217, 1);
    padding-top: 55px;
    margin-left: -565px;
}

.card-s4-ul {
    display: flex;
    gap: 147px;
    justify-content: center;
    margin-top: 132px;
    padding-bottom: 52px;
    list-style: none;
}

.card-s4-ul li p {
    font-family: "Italiana", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    color: rgba(255, 255, 255, 1);
}

.section-5 {
    display: flex;
    justify-content: center;
}

.s5-h2 {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 56.54px;
    color: rgba(255, 255, 255, 1);
    margin-top: 61px;
    margin-left: 100px;
    margin-bottom: 44px;
}

.iframe {
    margin-left: 100px;
    margin-bottom: 50px;
}

.box-s5-2 {
    margin-top: 180px;
    margin-left: 132.55px;
}

.s5-h3 {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 48.41px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 49px;
}

.box-s5-2 a {
    text-decoration: none;
    list-style: none;
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29.05px;
}

.box-a-1 {
    padding-bottom: 65px;

}

.box-s5-3 h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 48.41px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 40px;
    margin-top: 185px;
    margin-left: 54px;
}

.box-s5-3 p {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 24px;
    line-height: 29.05px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-left: 54px;
}

.section-footer {
    display: flex;
    justify-content: center;
}

.box-1-sf h4 {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 40px;
    line-height: 48.41px;
    color: rgba(255, 255, 255, 1);
    margin-top: 62px;
    margin-left: 160px;
    margin-right: 77.32px;
}

.box-1-sf p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24.2px;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;
    margin-left: 177px;
}

.box-2-sf p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29.05px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 41px;
    margin-top: 40px;
}

.box-2-sf ul {
    margin-left: 77.32px;
}

.box-2-sf ul li {
    text-decoration: none;
    list-style: none;
}

.box-2-sf ul li a {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29.05px;
    color: rgba(255, 255, 255, 1);
}

.box-3-sf {
    margin-left: 141.59px;
}

.box-3-sf p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29.05px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 41px;
    margin-top: 40px;
}

.box-3-sf ul li {
    text-decoration: none;
    list-style: none;
}

.box-3-sf ul li a {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29.05px;
    color: rgba(255, 255, 255, 1);
}

.box-4-sf {
    margin-left: 155px;
}

.box-4-sf p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29.05px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 41px;
    margin-top: 40px;
}

.box-4-sf ul li {
    text-decoration: none;
    list-style: none;
}

.box-4-sf ul li a {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29.05px;
    color: rgba(255, 255, 255, 1);
}

.footer-p {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 24.2px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 86px;
    margin-bottom: 44px;
}

button {
    cursor: pointer;
}

button:hover {
    transition: background-color ease-in;
    transition-duration: 0.1s;
}

.tracking-in-expand {
    animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.rotate-scale-down:hover {
    animation: rotate-scale-down 1s linear both;
}

@keyframes rotate-scale-down {
    0% {
        transform: scale(1) rotateZ(0);
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
    }

    50% {
        transform: scale(0.5) rotateZ(180deg);
    }

    100% {
        transform: scale(1) rotateZ(360deg);
        box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.35);
    }
}

.text-pop-up-bottom:hover {
    animation: text-pop-up-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes text-pop-up-bottom {
    0% {
        transform: translateY(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        transform: translateY(-5px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

.tracking-in-expand-fwd {
    animation: tracking-in-expand-fwd 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.shadow-drop-center:hover {
    animation: shadow-drop-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.35);
    }
}